*{
  margin: 0;
  padding: 0;
}
.App{
  background: black;
  color: white;
}
.Body_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 93vh;
  padding: 0;
  margin: 0;
}
.buttons_group{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100px;
}
.header{
  color: white;
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.socials{
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 30px;
}
.gmail{
  display: flex;
  align-items: center;
  justify-content: center;
}
.gmail svg{
  height: 30px;
  width: 30px;
}
.linkedin{
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkedin svg{
  height: 30px;
  width: 30px;
  color: white;
}
.github{
  display: flex;
  align-items: center;
  justify-content: cente
}
.github svg{
  height: 30px;
  width: 30px;
  color: white;
}